.version.________ /* version checker */
{
	color: #00001F;
	background-color: #A7FA84;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -9px;
	padding-bottom: 387px;
}

#u107
{
	z-index: 3;
	width: 559px;
	margin-left: 200px;
}

#u104-4
{
	z-index: 6;
	width: 463px;
	margin-right: -10000px;
	margin-top: 14px;
}

#u98
{
	z-index: 4;
	width: 83px;
	margin-right: -10000px;
	left: 476px;
}

#u87
{
	z-index: 2;
	padding-bottom: 9px;
}

#u87_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu108
{
	z-index: 10;
	width: 907px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 126px;
}

#u116
{
	width: 179px;
	min-height: 34px;
	margin-right: -10000px;
}

#u119
{
	width: 179px;
	padding-bottom: 17px;
}

#u119:hover
{
	margin: 0px;
}

#u119:active
{
	margin: 0px;
}

#u120-4
{
	width: 179px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u119:hover #u120-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u119:active #u120-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u124
{
	width: 180px;
	min-height: 34px;
	margin-right: -10000px;
	left: 181px;
}

#u127
{
	width: 180px;
	padding-bottom: 17px;
}

#u119.MuseMenuActive,#u127:hover
{
	margin: 0px;
}

#u127:active
{
	margin: 0px;
}

#u128-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u119.MuseMenuActive #u120-4,#u127:hover #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u127:active #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u170
{
	width: 180px;
	min-height: 34px;
	margin-right: -10000px;
	left: 363px;
}

#u171
{
	width: 180px;
	padding-bottom: 17px;
}

#u127.MuseMenuActive,#u171:hover
{
	margin: 0px;
}

#u171:active
{
	margin: 0px;
}

#u174-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u127.MuseMenuActive #u128-4,#u171:hover #u174-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u171:active #u174-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u205
{
	width: 180px;
	min-height: 34px;
	margin-right: -10000px;
	left: 545px;
}

#u206
{
	width: 180px;
	padding-bottom: 17px;
}

#u171.MuseMenuActive,#u206:hover
{
	margin: 0px;
}

#u206:active
{
	margin: 0px;
}

#u209-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u171.MuseMenuActive #u174-4,#u206:hover #u209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u206:active #u209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u257
{
	width: 180px;
	min-height: 34px;
	margin-right: -10000px;
	left: 727px;
}

#u260
{
	width: 180px;
	padding-bottom: 17px;
}

#u206.MuseMenuActive,#u260:hover
{
	margin: 0px;
}

#u260:active
{
	margin: 0px;
}

#u260.MuseMenuActive
{
	margin: 0px;
}

#u263-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u206.MuseMenuActive #u209-4,#u260:hover #u263-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u260:active #u263-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u260.MuseMenuActive #u263-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u87-bw
{
	z-index: 2;
	margin-top: 13px;
	height: 42px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

