.version._____________________ /* version checker */
{
	color: #0000F7;
	background-color: #608CFF;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.79999999999995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -9px;
	padding-bottom: 62px;
}

#u107
{
	z-index: 3;
	width: 559px;
	margin-left: 200px;
}

#u104-4
{
	z-index: 6;
	width: 463px;
	margin-right: -10000px;
	margin-top: 14px;
}

#u98
{
	z-index: 4;
	width: 83px;
	margin-right: -10000px;
	left: 476px;
}

#u87
{
	z-index: 2;
	padding-bottom: 8px;
}

#u87_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu108
{
	z-index: 10;
	width: 375px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 665px;
}

#u116
{
	width: 92px;
	min-height: 34px;
	margin-right: -10000px;
}

#u119
{
	width: 92px;
	padding-bottom: 17px;
}

#u119:hover
{
	margin: 0px;
}

#u119:active
{
	margin: 0px;
}

#u120-4
{
	width: 92px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u119:hover #u120-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u119:active #u120-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u124
{
	width: 92px;
	min-height: 34px;
	margin-right: -10000px;
	left: 94px;
}

#u127
{
	width: 92px;
	padding-bottom: 17px;
}

#u119.MuseMenuActive,#u127:hover
{
	margin: 0px;
}

#u127:active
{
	margin: 0px;
}

#u128-4
{
	width: 92px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u119.MuseMenuActive #u120-4,#u127:hover #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u127:active #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u170
{
	width: 92px;
	min-height: 34px;
	margin-right: -10000px;
	left: 188px;
}

#u171
{
	width: 92px;
	padding-bottom: 17px;
}

#u127.MuseMenuActive,#u171:hover
{
	margin: 0px;
}

#u171:active
{
	margin: 0px;
}

#u174-4
{
	width: 92px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u127.MuseMenuActive #u128-4,#u171:hover #u174-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u171:active #u174-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u205
{
	width: 93px;
	min-height: 34px;
	margin-right: -10000px;
	left: 282px;
}

#u206
{
	width: 93px;
	padding-bottom: 17px;
}

#u171.MuseMenuActive,#u206:hover
{
	margin: 0px;
}

#u206:active
{
	margin: 0px;
}

#u206.MuseMenuActive
{
	margin: 0px;
}

#u209-4
{
	width: 93px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u171.MuseMenuActive #u174-4,#u206:hover #u209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u206:active #u209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u206.MuseMenuActive #u209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u87-bw
{
	z-index: 2;
	margin-top: 13px;
	height: 43px;
}

#u183-4
{
	z-index: 53;
	width: 879px;
	min-height: 23px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	margin-left: 34px;
	margin-top: 46px;
	position: relative;
}

#pu150
{
	width: 0.01px;
	margin-left: 41px;
	margin-top: 4px;
}

#u150
{
	z-index: 35;
	width: 141px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 733px;
}

#u150_img
{
	padding-bottom: 1px;
}

#u156-10
{
	z-index: 37;
	width: 721px;
	min-height: 197px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#buttonu186
{
	z-index: 60;
	width: 162px;
	border-color: #787878;
	background-color: #00AFA5;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 41px;
}

#buttonu186:hover
{
	background-color: #545454;
	margin: 120px -10000px 0px 0px;
}

#buttonu186.ButtonSelected
{
	background-color: #00AFA5;
	margin: 120px -10000px 0px 0px;
}

#u187-4
{
	z-index: 61;
	width: 162px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#buttonu186:hover #u187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 12px -10000px 0px 0px;
}

#buttonu186:hover #u187-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u157-4
{
	z-index: 47;
	width: 879px;
	min-height: 23px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	margin-left: 34px;
	margin-top: 29px;
	position: relative;
}

#pu177
{
	width: 0.01px;
	margin-left: 41px;
}

#u177
{
	z-index: 51;
	width: 141px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 733px;
}

#u177_img
{
	padding-right: 1px;
}

#u184-3
{
	z-index: 57;
	width: 721px;
	min-height: 197px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	position: relative;
	margin-right: -10000px;
}

#buttonu189
{
	z-index: 65;
	width: 162px;
	border-color: #787878;
	background-color: #00A297;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 41px;
}

#buttonu189:hover
{
	background-color: #545454;
	margin: 157px -10000px 0px 0px;
}

#buttonu189.ButtonSelected
{
	background-color: #00A297;
	margin: 157px -10000px 0px 0px;
}

#u190-4
{
	z-index: 66;
	width: 162px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#buttonu186.ButtonSelected #u187-4,#buttonu189:hover #u190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 12px -10000px 0px 0px;
}

#buttonu189.ButtonSelected #u190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 12px -10000px 0px 0px;
}

#buttonu189:hover #u190-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u197-4
{
	z-index: 72;
	width: 879px;
	min-height: 23px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	margin-left: 34px;
	margin-top: 42px;
	position: relative;
}

#u191
{
	z-index: 70;
	width: 140px;
	background-color: transparent;
	margin-left: 774px;
	margin-top: 11px;
	position: relative;
}

#u204-4
{
	z-index: 78;
	width: 879px;
	min-height: 23px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	margin-left: 34px;
	margin-top: 26px;
	position: relative;
}

#u198
{
	z-index: 76;
	width: 141px;
	background-color: transparent;
	margin-left: 773px;
	margin-top: 4px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

