.version.______ /* version checker */
{
	color: #0000F6;
	background-color: #76C7C3;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.75px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -9px;
	padding-bottom: 62px;
}

#u107
{
	z-index: 3;
	width: 559px;
	margin-left: 200px;
}

#u104-4
{
	z-index: 6;
	width: 463px;
	margin-right: -10000px;
	margin-top: 14px;
}

#u98
{
	z-index: 4;
	width: 83px;
	margin-right: -10000px;
	left: 476px;
}

#u87
{
	z-index: 2;
	padding-bottom: 9px;
}

#u87_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu108
{
	z-index: 10;
	width: 907px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 126px;
}

#u116
{
	width: 179px;
	min-height: 34px;
	margin-right: -10000px;
}

#u119
{
	width: 179px;
	padding-bottom: 17px;
}

#u119:hover
{
	margin: 0px;
}

#u119:active
{
	margin: 0px;
}

#u120-4
{
	width: 179px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u119:hover #u120-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u119:active #u120-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u124
{
	width: 180px;
	min-height: 34px;
	margin-right: -10000px;
	left: 181px;
}

#u127
{
	width: 180px;
	padding-bottom: 17px;
}

#u119.MuseMenuActive,#u127:hover
{
	margin: 0px;
}

#u127:active
{
	margin: 0px;
}

#u128-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u119.MuseMenuActive #u120-4,#u127:hover #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u127:active #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u170
{
	width: 180px;
	min-height: 34px;
	margin-right: -10000px;
	left: 363px;
}

#u171
{
	width: 180px;
	padding-bottom: 17px;
}

#u127.MuseMenuActive,#u171:hover
{
	margin: 0px;
}

#u171:active
{
	margin: 0px;
}

#u174-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u127.MuseMenuActive #u128-4,#u171:hover #u174-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u171:active #u174-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u205
{
	width: 180px;
	min-height: 34px;
	margin-right: -10000px;
	left: 545px;
}

#u206
{
	width: 180px;
	padding-bottom: 17px;
}

#u171.MuseMenuActive,#u206:hover
{
	margin: 0px;
}

#u206:active
{
	margin: 0px;
}

#u209-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u171.MuseMenuActive #u174-4,#u206:hover #u209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u206:active #u209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u257
{
	width: 180px;
	min-height: 34px;
	margin-right: -10000px;
	left: 727px;
}

#u260
{
	width: 180px;
	padding-bottom: 17px;
}

#u206.MuseMenuActive,#u260:hover
{
	margin: 0px;
}

#u260:active
{
	margin: 0px;
}

#u260.MuseMenuActive
{
	margin: 0px;
}

#u263-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u206.MuseMenuActive #u209-4,#u260:hover #u263-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u260:active #u263-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u260.MuseMenuActive #u263-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u87-bw
{
	z-index: 2;
	margin-top: 13px;
	height: 42px;
}

#u231-4
{
	z-index: 46;
	width: 632px;
	background-color: transparent;
	line-height: 86px;
	direction: rtl;
	font-size: 72px;
	text-align: right;
	margin-left: 139px;
	margin-top: 12px;
	position: relative;
}

#ppu240-4
{
	width: 0.01px;
	margin-left: 161px;
	margin-top: 4px;
}

#pu240-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u240-4
{
	z-index: 76;
	width: 161px;
	min-height: 21px;
	background-color: transparent;
	line-height: 36px;
	direction: rtl;
	font-size: 30px;
	text-align: right;
	margin-left: 78px;
	position: relative;
}

#ppu249-4
{
	width: 0.01px;
	margin-top: 16px;
}

#u249-4
{
	z-index: 96;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	margin-left: 70px;
	position: relative;
}

#pu248-4
{
	width: 0.01px;
	margin-top: 53px;
}

#u248-4
{
	z-index: 92;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 70px;
}

#u251-5
{
	z-index: 104;
	width: 74px;
	min-height: 9px;
	background-color: transparent;
	direction: rtl;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u246
{
	z-index: 91;
	width: 100px;
	min-height: 98px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 177px;
}

#u250-4
{
	z-index: 100;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	margin-left: 70px;
	position: relative;
}

#pu242-5
{
	width: 0.01px;
	margin-top: 59px;
}

#u242-5
{
	z-index: 81;
	width: 122px;
	min-height: 18px;
	background-color: transparent;
	direction: rtl;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u245-4
{
	z-index: 87;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 70px;
}

#u243
{
	z-index: 86;
	width: 100px;
	min-height: 98px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 177px;
}

#u241
{
	z-index: 80;
	width: 2px;
	height: 551px;
	border-style: none;
	border-color: transparent;
	background-color: #646464;
	position: relative;
	margin-right: -10000px;
	left: 311px;
}

#pu239-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 323px;
}

#u239-4
{
	z-index: 72;
	width: 257px;
	min-height: 21px;
	background-color: transparent;
	line-height: 36px;
	direction: rtl;
	font-size: 30px;
	text-align: right;
	margin-left: 137px;
	position: relative;
}

#pu228-4
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 16px;
}

#u228-4
{
	z-index: 41;
	width: 106px;
	background-color: transparent;
	direction: rtl;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
}

#pu233-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 4px;
	margin-left: 122px;
}

#u233-4
{
	z-index: 54;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	position: relative;
}

#u232-4
{
	z-index: 50;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	margin-top: 60px;
	position: relative;
}

#u229
{
	z-index: 45;
	width: 100px;
	min-height: 98px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#ppu250-4,#ppu237-4
{
	width: 0.01px;
	margin-top: 40px;
}

#pu249-4,#pu237-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u237-4
{
	z-index: 64;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	margin-left: 128px;
	position: relative;
}

#pu234-5
{
	width: 0.01px;
	margin-top: 56px;
}

#u234-5
{
	z-index: 58;
	width: 165px;
	min-height: 8px;
	background-color: transparent;
	direction: rtl;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u238-4
{
	z-index: 68;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	left: 132px;
}

#u235
{
	z-index: 63;
	width: 100px;
	min-height: 98px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#ppu256-4
{
	width: 0.01px;
	margin-left: 132px;
	margin-top: 49px;
}

#pu250-4,#pu256-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u256-4
{
	z-index: 119;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	position: relative;
}

#u255-4
{
	z-index: 115;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	margin-top: 62px;
	position: relative;
}

#u253
{
	z-index: 114;
	width: 100px;
	min-height: 98px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 116px;
}

#u252-5
{
	z-index: 109;
	width: 108px;
	min-height: 13px;
	background-color: transparent;
	direction: rtl;
	text-align: left;
	margin-left: 491px;
	top: -122px;
	margin-bottom: -17px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

