.version.______ /* version checker */
{
	color: #0000FC;
	background-color: #23DB7C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.75px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -9px;
}

#u107
{
	z-index: 3;
	width: 559px;
	margin-left: 200px;
}

#u104-4
{
	z-index: 6;
	width: 463px;
	margin-right: -10000px;
	margin-top: 14px;
}

#u98
{
	z-index: 4;
	width: 83px;
	margin-right: -10000px;
	left: 476px;
}

#u87
{
	z-index: 2;
	padding-bottom: 9px;
}

#u87_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu108
{
	z-index: 10;
	width: 907px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 126px;
}

#u116
{
	width: 149px;
	min-height: 34px;
	margin-right: -10000px;
}

#u119
{
	width: 149px;
	padding-bottom: 17px;
}

#u119:hover
{
	margin: 0px;
}

#u119:active
{
	margin: 0px;
}

#u120-4
{
	width: 149px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u119:hover #u120-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u119:active #u120-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u124
{
	width: 149px;
	min-height: 34px;
	margin-right: -10000px;
	left: 151px;
}

#u127
{
	width: 149px;
	padding-bottom: 17px;
}

#u119.MuseMenuActive,#u127:hover
{
	margin: 0px;
}

#u127:active
{
	margin: 0px;
}

#u128-4
{
	width: 149px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u119.MuseMenuActive #u120-4,#u127:hover #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u127:active #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u170
{
	width: 149px;
	min-height: 34px;
	margin-right: -10000px;
	left: 302px;
}

#u171
{
	width: 149px;
	padding-bottom: 17px;
}

#u127.MuseMenuActive,#u171:hover
{
	margin: 0px;
}

#u171:active
{
	margin: 0px;
}

#u174-4
{
	width: 149px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u127.MuseMenuActive #u128-4,#u171:hover #u174-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u171:active #u174-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u205
{
	width: 150px;
	min-height: 34px;
	margin-right: -10000px;
	left: 453px;
}

#u206
{
	width: 150px;
	padding-bottom: 17px;
}

#u171.MuseMenuActive,#u206:hover
{
	margin: 0px;
}

#u206:active
{
	margin: 0px;
}

#u209-4
{
	width: 150px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u171.MuseMenuActive #u174-4,#u206:hover #u209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u206:active #u209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u274
{
	width: 150px;
	min-height: 34px;
	margin-right: -10000px;
	left: 605px;
}

#u277
{
	width: 150px;
	padding-bottom: 17px;
}

#u206.MuseMenuActive,#u277:hover
{
	margin: 0px;
}

#u277:active
{
	margin: 0px;
}

#u280-4
{
	width: 150px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u206.MuseMenuActive #u209-4,#u277:hover #u280-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u277:active #u280-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u257
{
	width: 150px;
	min-height: 34px;
	margin-right: -10000px;
	left: 757px;
}

#u260
{
	width: 150px;
	padding-bottom: 17px;
}

#u277.MuseMenuActive,#u260:hover
{
	margin: 0px;
}

#u260:active
{
	margin: 0px;
}

#u260.MuseMenuActive
{
	margin: 0px;
}

#u263-4
{
	width: 150px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u277.MuseMenuActive #u280-4,#u260:hover #u263-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u260:active #u263-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u260.MuseMenuActive #u263-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u87-bw
{
	z-index: 2;
	margin-top: 13px;
	height: 42px;
}

#u231-4
{
	z-index: 53;
	width: 632px;
	background-color: transparent;
	direction: rtl;
	line-height: 86px;
	font-size: 72px;
	text-align: right;
	margin-left: 139px;
	margin-top: 12px;
	position: relative;
}

#ppu240-4
{
	width: 0.01px;
	margin-left: 137px;
	margin-top: 4px;
}

#pu240-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u240-4
{
	z-index: 83;
	width: 161px;
	min-height: 21px;
	background-color: transparent;
	direction: rtl;
	line-height: 36px;
	font-size: 30px;
	text-align: right;
	margin-left: 102px;
	position: relative;
}

#ppu249-4
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 16px;
}

#u249-4
{
	z-index: 103;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	margin-left: 70px;
	position: relative;
}

#pu248-4
{
	width: 0.01px;
	margin-top: 53px;
}

#u248-4
{
	z-index: 99;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 70px;
}

#u251-5
{
	z-index: 111;
	width: 74px;
	min-height: 9px;
	background-color: transparent;
	direction: rtl;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u246
{
	z-index: 98;
	width: 100px;
	min-height: 98px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 177px;
}

#ppu250-4
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 40px;
}

#pu250-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u250-4
{
	z-index: 107;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	margin-left: 70px;
	position: relative;
}

#pu242-5
{
	width: 0.01px;
	margin-top: 59px;
}

#u242-5
{
	z-index: 88;
	width: 122px;
	min-height: 18px;
	background-color: transparent;
	direction: rtl;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u245-4
{
	z-index: 94;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 70px;
}

#u243
{
	z-index: 93;
	width: 100px;
	min-height: 98px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 177px;
}

#ppu417-4
{
	width: 0.01px;
	margin-top: 49px;
}

#pu417-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u417-4
{
	z-index: 131;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	margin-left: 94px;
	position: relative;
}

#pu418-4
{
	width: 0.01px;
	margin-top: 69px;
}

#u418-4
{
	z-index: 135;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 94px;
}

#u419-5
{
	z-index: 139;
	width: 122px;
	min-height: 18px;
	background-color: transparent;
	direction: rtl;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u415
{
	z-index: 130;
	width: 100px;
	min-height: 98px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 201px;
}

#u241
{
	z-index: 87;
	width: 2px;
	height: 551px;
	border-style: none;
	border-color: transparent;
	background-color: #646464;
	position: relative;
	margin-right: -10000px;
	left: 335px;
}

#pu239-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 347px;
}

#u239-4
{
	z-index: 79;
	width: 257px;
	min-height: 21px;
	background-color: transparent;
	direction: rtl;
	line-height: 36px;
	font-size: 30px;
	text-align: right;
	margin-left: 137px;
	position: relative;
}

#pu228-4
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 16px;
}

#u228-4
{
	z-index: 48;
	width: 106px;
	background-color: transparent;
	direction: rtl;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
}

#pu233-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 4px;
	margin-left: 122px;
}

#u233-4
{
	z-index: 61;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	position: relative;
}

#u232-4
{
	z-index: 57;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	margin-top: 60px;
	position: relative;
}

#u229
{
	z-index: 52;
	width: 100px;
	min-height: 98px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#ppu237-4
{
	width: 0.01px;
	margin-top: 40px;
}

#pu249-4,#pu237-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u237-4
{
	z-index: 71;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	margin-left: 128px;
	position: relative;
}

#pu234-5
{
	width: 0.01px;
	margin-top: 56px;
}

#u234-5
{
	z-index: 65;
	width: 165px;
	min-height: 8px;
	background-color: transparent;
	direction: rtl;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u238-4
{
	z-index: 75;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	left: 132px;
}

#u235
{
	z-index: 70;
	width: 100px;
	min-height: 98px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#pu252-5
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 49px;
}

#u252-5
{
	z-index: 116;
	width: 108px;
	min-height: 13px;
	background-color: transparent;
	direction: rtl;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
}

#pu256-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 126px;
}

#u256-4
{
	z-index: 126;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	position: relative;
}

#u255-4
{
	z-index: 122;
	width: 96px;
	background-color: transparent;
	direction: rtl;
	text-align: right;
	margin-top: 62px;
	position: relative;
}

#u253
{
	z-index: 121;
	width: 100px;
	min-height: 98px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#u432
{
	z-index: 47;
	width: 200px;
	min-height: 16px;
	margin-left: 407px;
	margin-top: 46px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

