.version.index /* version checker */
{
	color: #0000F9;
	background-color: #472548;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -9px;
	padding-bottom: 438px;
}

#u107
{
	z-index: 3;
	width: 559px;
	margin-left: 200px;
}

#u104-4
{
	z-index: 6;
	width: 463px;
	margin-right: -10000px;
	margin-top: 14px;
}

#u98
{
	z-index: 4;
	width: 83px;
	margin-right: -10000px;
	left: 476px;
}

#u87
{
	z-index: 2;
	height: 2px;
}

#u87-bw
{
	z-index: 2;
	margin-top: 11px;
	height: 2px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

