.version.index /* version checker */
{
	color: #0000F3;
	background-color: #45AA8E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 497px;
	min-height: 174px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 163px 231px 163px 232px;
}

#u74-9
{
	z-index: 2;
	width: 497px;
	background-color: transparent;
	text-align: center;
	left: -1px;
	position: relative;
}

#u74-2
{
	font-size: 72px;
	line-height: 86px;
}

#u74-4,#u74-5,#u74-7
{
	font-size: 24px;
	line-height: 29px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

