#u107
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u104-4
{
	background-color: transparent;
	line-height: 29px;
	direction: rtl;
	font-size: 24px;
	text-align: right;
	position: relative;
}

#u98
{
	background-color: transparent;
	position: relative;
}

#u87
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

