#u104-4
{
	background-color: transparent;
	line-height: 29px;
	direction: rtl;
	font-size: 24px;
	text-align: right;
	position: relative;
}

#u87
{
	border-style: none;
	border-color: transparent;
	background-color: #F3F3F3;
}

#u87_align_to_page
{
	position: relative;
}

#u107,#menuu108
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u119
{
	background-color: #C4C4C4;
	position: relative;
}

#u119:hover
{
	background-color: #999999;
}

#u119:active
{
	background-color: #6B6B6B;
}

#u120-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u127
{
	background-color: #C4C4C4;
	position: relative;
}

#u119.MuseMenuActive,#u127:hover
{
	background-color: #999999;
}

#u127:active
{
	background-color: #6B6B6B;
}

#u128-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u98,#u116,#u124,#u170
{
	background-color: transparent;
	position: relative;
}

#u171
{
	background-color: #C4C4C4;
	position: relative;
}

#u127.MuseMenuActive,#u171:hover
{
	background-color: #999999;
}

#u171:active
{
	background-color: #6B6B6B;
}

#u171.MuseMenuActive
{
	background-color: #999999;
}

#u174-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

