.version.untitled_2 /* version checker */
{
	color: #0000FA;
	background-color: #43FC60;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 437px;
}

#u87
{
	z-index: 2;
	height: 97px;
}

#u87-bw
{
	z-index: 2;
	height: 99px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

